body
	background-color: #FFF8DC
	//general style
.container-fluid
	padding: 0
.browncolor
	color: #8B7355
.darkbrowncolor
	color: #351E10
.bardcolor
	color:#A52A2A
.lightbrowncolor
	color:#8B7355
.whitecolor
	color: white
.fonttextSegoeScript
	font-family: "Segoe Script"
.fontTahoma
	font-family: "Tahoma"
.fontSans
	font-family: "Microsoft Sans Serif"
.size45px
	font-size: 2.75em
.size35px
	font-size: 2.2em
.size32px
	font-size: 2em
.size29px
	font-size: 1.8em
.size26px
	font-size: 1.6em
.size24px
	font-size: 1.5em


	//footer
.container-footer
	padding: 0
.wrap-footer-block
	background-color: #72161b
.footer-block1_content
	color: white
.footer-block
	padding: 30px
.icon
	padding: 5px
	//page
.container-page-title
	padding: 0
	height: 760px
	background: url(/images/head_fon.png) no-repeat
    width: 100%
.wrap-page-title-header__logo
	margin-top: 40px
    padding: 0
.page-title-header__logo
	padding: 0
.wrap-page-title-header__menu
	padding: 0
.page-title-header__menu
	background-color: #f17345ff
	border: 7px solid #f17345ff
	border-radius: 5px
	padding: 0
	width: max-content
.page-title-header__logo
	width: max-content
.page-title-content__name
	margin-top: 90px
.title-content
	height: 50px
.page-title-content__meaning
	margin-top: 15px
	//block-products
.container-block-product
	padding: 2.45em
.wrap-block-product
	padding: 2.45em
.block-product__name
	padding: 10px
.block-product__name a, .block-product__description a, .block-product__details a
	text-decoration: none
.block-product__details
	background-color: #f17345ff
	border-radius: 3px
	padding: 5px 10px 5px 10px
	margin-top: 10px
    width: max-content
    
.block-product__details
	&:hover
	    background-color: #cc623b
.block-product__details 
	a:hover
	    color: #eaeaea
.block-product__name, .block-product__description 
	a:hover
	    color:#86451e
